.Question {
    margin: 0 auto 20px;
    width: 60%;
    padding: 50px;
    border-radius: 25px;
    background-color: white;
}

.questionTitle {
    margin: 0;
    padding-bottom: 20px;
    color: gray;
    font-family: "Microsoft JhengHei UI", sans-serif;
    font-size: 1.7em;
}
