:root {
    --progress-bar-level: 0%;
}

.ProgressBar {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.rect {
    height: 20px;
    width: 500px;
    border-radius: 5px;
    background: linear-gradient(90deg, #00ccff var(--progress-bar-level), white var(--progress-bar-level));
}
