.NavigationButton {
    width: 100px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.2em;
    background-color: #e3e3e3;
    user-select: none;
}

.button-selected {
    background-color: cornflowerblue;
}

.button-hover {
    background-color: lightgrey;
}

.button-default {
    background-color: #e3e3e3;
}
